.uk-width-1-1.align-center
	img(src="/img/logo.png")

ul.main-menu
	if active_menu == 'register'
		li
			a(href='/') Home
		li
			a(href='/login') Masuk
		li.uk-active
			a(href='/register') Daftar
	else if active_menu == 'login'
		li
			a(href='/') Home
		li.uk-active
			a(href='/login') Masuk
		li
			a(href='/register') Daftar
	else
		li.uk-active
			a(href='/') Home
		li
			a(href='/login') Masuk
		li
			a(href='/register') Daftar

	