form#form-question.form-question.uk-form(method="POST", action="/ask", data-user=viewed_user.username)
	h4.label
		strong Mau nanya apaan?
	.form-wrapper
		.uk-width-1-1
			textarea.uk-width-1-1.question(maxlength='300', rows="2", spellcheck='false')
		.uk-width-1-1
			.form-footer
				span
					| sisa
					strong.info-charleft 300
					| karakter
				button.uk-button.uk-button-primary.btn-ask(style="float: right", disabled) tanya
		