extends ../master.jade

block header
	- active_menu = 'questions'
	include ../blocks/logged-user-header.jade

block content
	if (viewed_user.username != user.username)
		include ../blocks/form-question.jade
	
	h3.align-center(style="margin: 20px 0px 0px; float: left; width: 100%; padding-bottom: 10px; border-bottom: 1px dashed #ddd")
		strong Pertanyaan ke 
			a(href="/u/"+viewed_user.username)= viewed_user.username

	#question-timeline(data-user=viewed_user.username, data-timeline='/json/timeline/'+viewed_user.username)
		ul.list-questions
		button.btn-loadmore.uk-button.uk-width-1-1 load more

block backbone_templates
	include ../blocks/backbone-box-question.jade

block append scripts
	script(src="/socket.io/socket.io.js")
	script(src="/js/underscore-min.js")
	script(src="/js/backbone-min.js")
	script(src="/js/app.util.js")
	script(src="/js/autogrow.min.js")
	script(src="/js/module/QuestionTimeline.js")
	if (viewed_user.username == user.username)
		script.
			var questionTimeline = new QuestionTimeline({
				el: '#question-timeline',
				enableAnswer: true,
				showUserFrom: true,
				showUserTo: false
			});
	else
		script.
			var questionTimeline = new QuestionTimeline({
				el: '#question-timeline',
				enableAnswer: false,
				showUserFrom: true,
				showUserTo: false
			});

	script.
		var socket;

		function updateNotification(notif_selector) {
			return function(data) {
				var $notif = $(notif_selector);
				var count = parseInt($notif.text());

				if(isNaN(count)) count = 0;

				count += 1;

				if(count > 0) {
					$notif.show().text(count);
				} else {
					$notif.hide().text(count);
				}
			}
		}

		$(function() {
			questionTimeline.loadMore();
			$(".notif-question, .notif-answer").text(0).hide();

			socket = io.connect('/');

			socket.on('connect', function() {
				socket.on('check auth', function(data) {
					if(data.shouldRelogin) {
						relogin();
					} else {
						socket.emit('subscribe.user.questions', {username: '#{viewed_user.username}'});
						socket.emit('subscribe.question.notif');
						socket.emit('subscribe.answer.notif');
						socket.emit('subscribe.user.questions.answer', {username: '#{viewed_user.username}'});
					}
				});

				socket.on('should relogin', relogin);
				
				socket.on('ask', function(question) {
					questionTimeline.pushQuestion(question);
				});

				socket.on('answer', function(question) {
					questionTimeline.answerQuestion(question);
				});

				socket.on('notify question', updateNotification('.notif-question'));
				socket.on('notify answer', updateNotification('.notif-answer'));
			});

		});
	

	if(viewed_user.username != user.username)
		script(src="/js/module/QuestionForm.js")
		script.
			var questionForm = new QuestionForm({
				el: '#form-question'
			});

			$(function() {
				
			});
